body {
  background-color: #000 !important;
}

* {
  font-family: "gotham";
}

.c-descontos .col-left {
  padding-right: 0px;
}
.c-descontos .col-right {
  padding-left: 0px;
}
.c-descontos .slider-desconto {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.c-descontos .slider-desconto div {
  width: 500px;
  display: flex;
  justify-content: center;
}
.c-descontos .slider-desconto .icon {
  height: 16px;
}

.c-destaque {
  overflow: hidden;
}
.c-destaque .slick-destaque {
  width: 125%;
}
.c-destaque .slick-destaque .item {
  padding: 8px;
}

.c-banners-bottom .box-banner-full {
  min-height: 50vh;
}
.c-banners-bottom .box-banner-full .banner-full {
  width: 100%;
  object-fit: cover;
}
.c-banners-bottom .slick-banners_bottom .item {
  padding: 8px;
}
.c-banners-bottom .slick-banners_bottom .bannersBottom {
  width: 100%;
}

.c-App {
  margin-top: 64px;
}
.c-App .container-app {
  min-height: 400px;
}
.c-App .container-app .app-install {
  position: absolute;
  height: 480px;
  bottom: -70%;
  left: -40%;
}

.c-footer {
  padding-top: 32px;
  padding-bottom: 30px;
}
.c-footer .container {
  border-top: 1px solid #424242;
}
.c-footer .title-footer {
  margin-top: 32px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}
.c-footer .title-footer-mob {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-footer .title-footer-mob .icon-down {
  height: 10px;
}
.c-footer .links-footer {
  color: #757575;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 400;
  text-decoration: none;
}
.c-footer .links-footer:hover {
  text-shadow: 0 0 1px #aeaeae;
}
.c-footer .links-footer:last-child {
  margin-bottom: 0px;
}
.c-footer .links-footer .icon-cel {
  height: 25px;
  margin-right: 4px;
}
.c-footer .box-images .img-certificado {
  height: 80px;
  object-fit: contain;
  margin-right: 32px;
}
.c-footer .box-images .img-certificado__last {
  width: 100%;
  margin-top: 8px;
}
.c-footer .method-pagament {
  border-top: #262626 1px solid;
  padding-top: 32px;
  padding-bottom: 32px;
}
.c-footer .method-pagament .pagament {
  margin-right: 12px;
}
.c-footer .method-pagament .pagament:last-child {
  margin-right: 0px;
}
.c-footer .app-img {
  margin-right: 8px;
  width: 40%;
}
.c-footer .app-img-mob {
  margin-right: 0px;
}
.c-footer .app-img img {
  width: 100%;
}
.c-footer .app-img:last-child {
  margin-right: 0px;
}
.c-footer .box-collapse {
  border-bottom: 1px solid #404040;
  padding-bottom: 16px;
  padding-top: 16px;
}
.c-footer .sign .sign-futfanatics {
  width: 125px;
}
@media (min-width: 1200px) {
  .c-footer .sign .sign-futfanatics {
    width: 40%;
  }
}
.c-footer .sign .content-sign {
  font-size: 14px;
  color: #757575;
  line-height: 1.4rem;
  text-align: center;
  padding-top: 0px;
}
@media (min-width: 1200px) {
  .c-footer .sign .content-sign {
    padding: 16px;
    padding-top: 0px;
    text-align: start;
  }
}
.c-footer .sign .img-shared {
  width: 25px;
  height: 25px;
  margin: 0 8px;
}

/*# sourceMappingURL=style.css.map */
